{% extends "imp_base.html" %}
{% load static %}
{% block script %}
<!-- Libs -->
	<link rel="stylesheet" href="{% static "assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" %}">
	<link rel="stylesheet" href="{% static "assets/vendor/libs/bootstrap-table/bootstrap-table.css" %}">
	<!-- Page -->
        {% endblock %}


{% block content %}

			<!-- Layout content -->
			<div class="container flex-grow-1 container-p-y">

				<h4 class="font-weight-light py-3 mb-4">
					<span class="text-muted">Tables /</span> Tables
				</h4>

				<div class="mb-5 text-right">
					
				</div>
				<table id="employees-table" class="table-appeal" data-detail-view="false" data-minimum-count-columns="2" data-pagination="true" data-id-field="id" data-show-footer="false">
					<thead>
					<tr>
						<th>
						</th>
						<th data-sortable="true" data-field="id">Номер</th>
						<th data-sortable="true">Название трека</th>
						<th data-sortable="true">Автор</th>
						<th ></th>
						<th>Дата загрузки</th>
						<th data-sortable="true">Рейтинг</th>
						<th>Действие</th>
					</tr>
					</thead>
					<tbody>
						{% for employee in employee_list %}
						<tr data-index="0">
							<td>
								{% if employee.image %}<a href="{{ employee.image.url }}">
									<img src="{{ employee.image.url }}" alt class="d-block ui-w-30 rounded-circle">
								</a> {% else %}{% endif %}
							</td>
							<td>{{ forloop.counter }}</td>
							<td>{{ employee.name }}</td>
							<td>{{ employee.artist }}</td>
							<td><audio src="{{ employee.audio_file.url }}" controls>Your browser does not support the audio element.</audio></td>
							
							<td>
								<div>{{ employee.created_date.date }}</div>
								<div>{{ employee.created_date.time }}</div>
							</td>
							<td>{% if employee.user.useraccept.rating == 5 %} 
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								{% elif employee.user.useraccept.rating == 4 %}
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								{% elif employee.user.useraccept.rating == 3 %}
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								{% elif employee.user.useraccept.rating == 2 %}
								<i class="ion ion-md-star text-warning"></i>
								<i class="ion ion-md-star text-warning"></i>
								{% else %}
								<i class="ion ion-md-star text-warning"></i>
{% endif %}

							</td>
							<td class="text-center text-nowrap"><a href=""><button type="button" class="btn btn-default btn-xs icon-btn md-btn-flat user-tooltip" title="" data-original-title="Edit"><i class="ion ion-md-create"></i></button></a>&nbsp;&nbsp;
								<a id="custom-delete" href="{% url 'delete_track' employee.id %}"><button type="button" class="btn btn-default btn-xs icon-btn md-btn-flat dropdown-toggle hide-arrow user-tooltip" title="" data-original-title="Actions" ><i class="fa fa-times"></i></button></a></td>
						</tr>{% endfor %}

					</tbody>
				</table><script>
$( document ).ready(function() {
    $( "#custom-delete" ).click(function() {
       if ((confirm("Вы действительно хотите удалить трек?")) == false) {
          event.preventDefault();
       };
    });
});
</script>

			</div>
			<!-- Layout content -->

		</div>
		<!-- / Layout container -->

	

{% block script2 %}

<script src="{% static "assets/vendor/libs/tableexport/tableexport.js" %}"></script>
<script src="{% static "assets/vendor/libs/moment/moment.js" %}"></script>
<link rel="stylesheet" href="{% static "assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" %}">
<script src="{% static "assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js" %}"></script>

<script src="{% static "assets/vendor/libs/bootstrap-table/bootstrap-table.js" %}"></script>
<script src="{% static "assets/vendor/libs/bootstrap-table/extensions/export/export.js" %}"></script>
<script src="{% static "assets/js/tables_bootstrap-table.js" %}"></script>{% endblock %}
{% endblock %}