{% extends "imp_base.html" %}
{% load static %}
{% block script %}
<!-- Libs -->
	<link rel="stylesheet" href="{% static "assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" %}">
	<link rel="stylesheet" href="{% static "assets/vendor/libs/bootstrap-table/bootstrap-table.css" %}">
	<!-- Page -->
        {% endblock %}


{% block content %}

			<!-- Layout content -->
			<div class="container flex-grow-1 container-p-y">

				<h4 class="font-weight-light py-3 mb-4">
					<span class="text-muted">Tables /</span> Tables
				</h4>

				<div class="mb-5 text-right">
					<a href="{% url 'create_employee' %}"><button class="btn-employees-table btn btn-my-color text-white ml-auto">
						Создать сотрудника
					</button></a>
				</div>
				<table id="employees-table" class="table-appeal" data-detail-view="false" data-minimum-count-columns="2" data-pagination="true" data-id-field="id" data-show-footer="false">
					<thead>
					<tr>
						<th>
						</th>
						<th data-sortable="true" data-field="id">Название трека</th>
						<th data-sortable="true">Автор</th>
						<th data-sortable="true"></th>
						<th data-sortable="true">Телефон</th>
						<th data-sortable="true">Почта</th>
						<th data-sortable="true">Роль</th>
						<th data-sortable="true">Активность</th>
						<th data-sortable="true">Рейтинг</th>
						<th data-sortable="true">Действие</th>
					</tr>
					</thead>
					<tbody>
						

					</tbody>
				</table>

			</div>
			<!-- Layout content -->

		</div>
		<!-- / Layout container -->

	

{% block script2 %}

<script src="{% static "assets/vendor/libs/tableexport/tableexport.js" %}"></script>
<script src="{% static "assets/vendor/libs/moment/moment.js" %}"></script>
<link rel="stylesheet" href="{% static "assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css" %}">
<script src="{% static "assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js" %}"></script>

<script src="{% static "assets/vendor/libs/bootstrap-table/bootstrap-table.js" %}"></script>
<script src="{% static "assets/vendor/libs/bootstrap-table/extensions/export/export.js" %}"></script>
<script src="{% static "assets/js/tables_bootstrap-table.js" %}"></script>{% endblock %}
{% endblock %}