<!DOCTYPE html>

<html class="material-style">

<head>
	<title>Login v2 - Pages - Appwork</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/x-icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

	<!-- Icon fonts -->
	<link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css">
	<link rel="stylesheet" href="assets/vendor/fonts/ionicons.css">
	<link rel="stylesheet" href="assets/vendor/fonts/linearicons.css">
	<link rel="stylesheet" href="assets/vendor/fonts/open-iconic.css">
	<link rel="stylesheet" href="assets/vendor/fonts/pe-icon-7-stroke.css">

	<!-- Core stylesheets -->
	<link rel="stylesheet" href="assets/vendor/css/rtl/bootstrap-material.css" class="theme-settings-bootstrap-css">
	<link rel="stylesheet" href="assets/vendor/css/rtl/appwork-material.css" class="theme-settings-appwork-css">
	<link rel="stylesheet" href="assets/vendor/css/rtl/theme-corporate-material.css" class="theme-settings-theme-css">
	<link rel="stylesheet" href="assets/vendor/css/rtl/colors-material.css" class="theme-settings-colors-css">
	<link rel="stylesheet" href="assets/vendor/css/rtl/uikit.css">


	<script src="assets/vendor/js/material-ripple.js"></script>
	<script src="assets/vendor/js/layout-helpers.js"></script>

	<!-- Theme settings -->
	<!-- This file MUST be included after core stylesheets and layout-helpers.js in the <head> section
	<script src="assets/vendor/js/theme-settings.js"></script>
	<script>
		window.themeSettings = new ThemeSettings({
			cssPath: 'assets/vendor/css/rtl/',
			themesPath: 'assets/vendor/css/rtl/'
		});
	</script>
	-->
	<!-- Core scripts -->
	<script src="assets/vendor/js/pace.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Libs -->
	<link rel="stylesheet" href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
	<!-- Page -->
	<link rel="stylesheet" href="assets/css/custom.css">

</head>

<body class="padding-top-navbar">
<div class="page-loader">
	<div class="bg-primary"></div>
</div>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-2">
	<div class="layout-inner">

		<!-- Layout container -->
		<div class="layout-container">
			<!-- Layout navbar -->
			<nav class="navbar fixed-top navbar-expand-lg bg-white">
				<div class="container">

					<a href="#" class="navbar-brand flex-grow-0 text-large font-weight-bolder line-height-1 py-3 mr-5">
						<img src="assets/img/logo.png" alt="">
					</a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".header-1">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="header-1 navbar-collapse collapse justify-content-center flex-grow-1 mb-4 mb-lg-0">
						<div class="navbar-nav navbar-my-menu">
							<a class="nav-item nav-link active" href="#">Обращения <sup class="text-muted">5</sup></a>
							<a class="nav-item nav-link" href="#">Заказы <sup class="text-muted">2</sup></a>
							<a class="nav-item nav-link" href="#">Каталог</a>
							<a class="nav-item nav-link" href="#">Сотрудники</a>
							<a class="nav-item nav-link" href="#">Настройки</a>
						</div>
					</div>

					<div class="header-1 navbar-collapse collapse justify-content-lg-end flex-grow-0">
						<div class="nav navbar-nav align-items-lg-center">

							<span class="nav-item">1 250 000 ₽</span>
							<!-- Search -->
							<a href="#" class="nav-item nav-link ml-2">
								<span class="badge badge-primary badge-dot indicator"></span>
								<i class="far fa-comments navbar-icon align-middle"></i>

							</a>

							<a class="nav-item nav-link dropdown-toggle hide-arrow ml-lg-2" href="#">
								<span class="badge badge-primary badge-dot indicator"></span>
								<i class="ion ion-md-notifications-outline navbar-icon align-middle"></i>

								<span class="d-lg-none align-middle">&nbsp; Уведомления</span>
							</a>

							<div class="demo-navbar-user nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                  <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                    <img src="assets/img/avatars/1.png" alt class="d-block ui-w-30 rounded-circle">
                    <span class="px-1 mr-lg-2 ml-2 ml-lg-0">Иван Никифоров</span>
                  </span>
								</a>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-person text-lightest"></i> &nbsp; My profile</a>
									<a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-mail text-lightest"></i> &nbsp; Messages</a>
									<a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-md-settings text-lightest"></i> &nbsp; Account settings</a>
									<div class="dropdown-divider"></div>
									<a href="javascript:void(0)" class="dropdown-item"><i class="ion ion-ios-log-out text-danger"></i> &nbsp; Log Out</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</nav>
			<!-- / Layout navbar -->

			<!-- Layout content -->
			<div class="layout-content">

				<!-- Content -->
				<div class="container flex-grow-1 container-p-y orders-list">

					<h4 class="font-weight-light py-3 mb-4">
						<span class="text-muted">Blank /</span> Text
					</h4>
					<div class="py-3 d-flex justify-content-between">
						<h4 class="font-weight-bold">
							Список Заказов
						</h4>
						<a href="#" class="btn btn-success">Добавить</a>
					</div>

					<hr class="border-light container-m--x mt-0 mb-4">
					<div class="row justify-content-center flex-wrap">
						<div class="col-md-6 col-xl-4">
							<div class="orders-list__card card  mx-auto mb-4">

								<!-- Кратинка -->
								<div class="orders-list__card-img" style="background-image: url('assets/img/catalog/rem.jpg')"></div>
								<a href="#"><img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-40 rounded-circle orders-list__card-icon-home"></a>
								<div class="orders-list__card-stars">
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
								</div>
								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
										<span class="badge badge-info">Идут работы</span>
										<div class="text-muted small mt-1 font-weight-light">Всего задач: 12, решено: 6</div>
								</div>

								<!-- Прогресс бар -->
								<div class="progress rounded-0" style="height: 3px;">
									<div class="progress-bar" style="width: 33%;"></div>
								</div>
<!--								<div class="card-body small pt-2 pb-0">
									<strong>33%</strong> completed
								</div>-->

								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<div class="mb-3">
										<h4 class="card-title">ID: 34234234</h4>
										<p class="card-text text-muted">Ремонт ванной комнаты</p>
									</div>
									<div class="mb-3">
										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров</span>
											</span>
										</a>

										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров (Прораб)</span>
											</span>
										</a>

									</div>
									<div class="mb-3">
										<p class=" card-text text-muted">Начало работ: 26 мая 2018</p>
										<p class=" card-text text-muted">Завершение работ: 1 иля 2018 </p>
									</div>
									<div class="mb-3">
										<p class="orders-list__card-price card-text big-text">2 150 000 ₽</p>
										<p class="card-text">Оплачено: 2 150 000 ₽</p>
									</div>
									<div>
										<a href="#" class="btn btn-success">Подробнее</a>
									</div>


								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4">
							<div class="orders-list__card card  mx-auto mb-4">

								<!-- Кратинка -->
								<div class="orders-list__card-img" style="background-image: url('assets/img/catalog/rem.jpg')"></div>
								<a href="#"><img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-40 rounded-circle orders-list__card-icon-home"></a>
								<div class="orders-list__card-stars">
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
								</div>
								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<span class="badge badge-default">Ожидает оплаты</span>
									<div class="text-muted small mt-1 font-weight-light">Всего задач: 12, решено: 6</div>
								</div>

								<!-- Прогресс бар -->
								<div class="progress rounded-0" style="height: 3px;">
									<div class="progress-bar" style="width: 33%;"></div>
								</div>
								<!--								<div class="card-body small pt-2 pb-0">
																	<strong>33%</strong> completed
																</div>-->

								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<div class="mb-3">
										<h4 class="card-title">ID: 34234234</h4>
										<p class="card-text text-muted">Ремонт ванной комнаты</p>
									</div>
									<div class="mb-3">
										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров</span>
											</span>
										</a>

										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров (Прораб)</span>
											</span>
										</a>

									</div>
									<div class="mb-3">
										<p class=" card-text text-muted">Начало работ: 26 мая 2018</p>
										<p class=" card-text text-muted">Завершение работ: 1 иля 2018 </p>
									</div>
									<div class="mb-3">
										<p class="orders-list__card-price card-text big-text">2 150 000 ₽</p>
										<p class="card-text">Оплачено: 2 150 000 ₽</p>
									</div>
									<div>
										<a href="#" class="btn btn-success">Подробнее</a>
									</div>


								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4">
							<div class="orders-list__card card  mx-auto mb-4">

								<!-- Кратинка -->
								<div class="orders-list__card-img" style="background-image: url('assets/img/catalog/rem.jpg')"></div>
								<a href="#"><img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-40 rounded-circle orders-list__card-icon-home"></a>
								<div class="orders-list__card-stars">
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
								</div>
								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<span class="badge badge-success">Завершено</span>
									<div class="text-muted small mt-1 font-weight-light">Всего задач: 12, решено: 6</div>
								</div>

								<!-- Прогресс бар -->
								<div class="progress rounded-0" style="height: 3px;">
									<div class="progress-bar" style="width: 33%;"></div>
								</div>
								<!--								<div class="card-body small pt-2 pb-0">
																	<strong>33%</strong> completed
																</div>-->

								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<div class="mb-3">
										<h4 class="card-title">ID: 34234234</h4>
										<p class="card-text text-muted">Ремонт ванной комнаты</p>
									</div>
									<div class="mb-3">
										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров</span>
											</span>
										</a>

										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров (Прораб)</span>
											</span>
										</a>

									</div>
									<div class="mb-3">
										<p class=" card-text text-muted">Начало работ: 26 мая 2018</p>
										<p class=" card-text text-muted">Завершение работ: 1 иля 2018 </p>
									</div>
									<div class="mb-3">
										<p class="orders-list__card-price card-text big-text">2 150 000 ₽</p>
										<p class="card-text">Оплачено: 2 150 000 ₽</p>
									</div>
									<div>
										<a href="#" class="btn btn-success">Подробнее</a>
									</div>


								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4">
							<div class="orders-list__card card  mx-auto mb-4">

								<!-- Кратинка -->
								<div class="orders-list__card-img" style="background-image: url('assets/img/catalog/rem.jpg')"></div>
								<a href="#"><img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-40 rounded-circle orders-list__card-icon-home"></a>
								<div class="orders-list__card-stars">
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
								</div>
								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<span class="badge badge-warning">Проблемы</span>
									<div class="text-muted small mt-1 font-weight-light">Всего задач: 12, решено: 6</div>
								</div>

								<!-- Прогресс бар -->
								<div class="progress rounded-0" style="height: 3px;">
									<div class="progress-bar" style="width: 33%;"></div>
								</div>
								<!--								<div class="card-body small pt-2 pb-0">
																	<strong>33%</strong> completed
																</div>-->

								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<div class="mb-3">
										<h4 class="card-title">ID: 34234234</h4>
										<p class="card-text text-muted">Ремонт ванной комнаты</p>
									</div>
									<div class="mb-3">
										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров</span>
											</span>
										</a>

										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров (Прораб)</span>
											</span>
										</a>

									</div>
									<div class="mb-3">
										<p class=" card-text text-muted">Начало работ: 26 мая 2018</p>
										<p class=" card-text text-muted">Завершение работ: 1 иля 2018 </p>
									</div>
									<div class="mb-3">
										<p class="orders-list__card-price card-text big-text">2 150 000 ₽</p>
										<p class="card-text">Оплачено: 2 150 000 ₽</p>
									</div>
									<div>
										<a href="#" class="btn btn-success">Подробнее</a>
									</div>


								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4">
							<div class="orders-list__card card  mx-auto mb-4">

								<!-- Кратинка -->
								<div class="orders-list__card-img" style="background-image: url('assets/img/catalog/rem.jpg')"></div>
								<a href="#"><img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-40 rounded-circle orders-list__card-icon-home"></a>
								<div class="orders-list__card-stars">
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
								</div>
								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<span class="badge badge-danger">Брак</span>
									<div class="text-muted small mt-1 font-weight-light">Всего задач: 12, решено: 6</div>
								</div>

								<!-- Прогресс бар -->
								<div class="progress rounded-0" style="height: 3px;">
									<div class="progress-bar" style="width: 33%;"></div>
								</div>
								<!--								<div class="card-body small pt-2 pb-0">
																	<strong>33%</strong> completed
																</div>-->

								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<div class="mb-3">
										<h4 class="card-title">ID: 34234234</h4>
										<p class="card-text text-muted">Ремонт ванной комнаты</p>
									</div>
									<div class="mb-3">
										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров</span>
											</span>
										</a>

										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров (Прораб)</span>
											</span>
										</a>

									</div>
									<div class="mb-3">
										<p class=" card-text text-muted">Начало работ: 26 мая 2018</p>
										<p class=" card-text text-muted">Завершение работ: 1 иля 2018 </p>
									</div>
									<div class="mb-3">
										<p class="orders-list__card-price card-text big-text">2 150 000 ₽</p>
										<p class="card-text">Оплачено: 2 150 000 ₽</p>
									</div>
									<div>
										<a href="#" class="btn btn-success">Подробнее</a>
									</div>


								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4">
							<div class="orders-list__card card  mx-auto mb-4">

								<!-- Кратинка -->
								<div class="orders-list__card-img" style="background-image: url('assets/img/catalog/rem.jpg')"></div>
								<a href="#"><img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-40 rounded-circle orders-list__card-icon-home"></a>
								<div class="orders-list__card-stars">
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
								</div>
								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<span class="badge badge-danger">Просрочен</span>
									<div class="text-muted small mt-1 font-weight-light">Всего задач: 12, решено: 6</div>
								</div>

								<!-- Прогресс бар -->
								<div class="progress rounded-0" style="height: 3px;">
									<div class="progress-bar" style="width: 33%;"></div>
								</div>
								<!--								<div class="card-body small pt-2 pb-0">
																	<strong>33%</strong> completed
																</div>-->

								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<div class="mb-3">
										<h4 class="card-title">ID: 34234234</h4>
										<p class="card-text text-muted">Ремонт ванной комнаты</p>
									</div>
									<div class="mb-3">
										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров</span>
											</span>
										</a>

										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров (Прораб)</span>
											</span>
										</a>

									</div>
									<div class="mb-3">
										<p class=" card-text text-muted">Начало работ: 26 мая 2018</p>
										<p class=" card-text text-muted">Завершение работ: 1 иля 2018 </p>
									</div>
									<div class="mb-3">
										<p class="orders-list__card-price card-text big-text">2 150 000 ₽</p>
										<p class="card-text">Оплачено: 2 150 000 ₽</p>
									</div>
									<div>
										<a href="#" class="btn btn-success">Подробнее</a>
									</div>


								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4">
							<div class="orders-list__card card  mx-auto mb-4">

								<!-- Кратинка -->
								<div class="orders-list__card-img" style="background-image: url('assets/img/catalog/rem.jpg')"></div>
								<a href="#"><img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-40 rounded-circle orders-list__card-icon-home"></a>
								<div class="orders-list__card-stars">
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
									<i class="ion ion-md-star text-success"></i>
								</div>
								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<span class="badge badge-dark">Гарантия</span>
									<div class="text-muted small mt-1 font-weight-light">Всего задач: 12, решено: 6</div>
								</div>

								<!-- Прогресс бар -->
								<div class="progress rounded-0" style="height: 3px;">
									<div class="progress-bar" style="width: 33%;"></div>
								</div>
								<!--								<div class="card-body small pt-2 pb-0">
																	<strong>33%</strong> completed
																</div>-->

								<!-- Текст -->
								<div class="card-body pb-3 pt-3">
									<div class="mb-3">
										<h4 class="card-title">ID: 34234234</h4>
										<p class="card-text text-muted">Ремонт ванной комнаты</p>
									</div>
									<div class="mb-3">
										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров</span>
											</span>
										</a>

										<a href="javascript:void(0)" class=" card-text text-muted mb-1 d-flex flex-row align-items-center">
											<span class="d-flex flex-lg-row align-items-center align-middle">
												<img src="assets/img/avatars/1.png" alt="" class="d-block ui-w-20 rounded-circle">
												<span class="px-1 ml-2 ml-lg-0 card-text text-muted">Иван Никифоров (Прораб)</span>
											</span>
										</a>

									</div>
									<div class="mb-3">
										<p class=" card-text text-muted">Начало работ: 26 мая 2018</p>
										<p class=" card-text text-muted">Завершение работ: 1 иля 2018 </p>
									</div>
									<div class="mb-3">
										<p class="orders-list__card-price card-text big-text">2 150 000 ₽</p>
										<p class="card-text">Оплачено: 2 150 000 ₽</p>
									</div>
									<div>
										<a href="#" class="btn btn-success">Подробнее</a>
									</div>


								</div>
							</div>
						</div>


					</div>

				</div>
				<!-- / Content -->

			</div>
			<!-- Layout content -->

		</div>
		<!-- / Layout container -->

	</div>

	<!-- Overlay -->
	<div class="layout-overlay layout-sidenav-toggle"></div>
</div>
<!-- / Layout wrapper -->

</div>
<script>
	$('.header-1 .navbar-search-input > input').on('focus', function() {
		$('.header-1 .navbar-search-box').addClass('active');
	});
	$('.header-1 .navbar-search-cancel').on('click', function(e) {
		e.preventDefault();
		$('.header-1 .navbar-search-box').removeClass('active');
	});
</script>

<!-- / Content -->

<!-- Core scripts -->
<script src="assets/vendor/libs/popper/popper.js"></script>
<script src="assets/vendor/js/bootstrap.js"></script>
<script src="assets/vendor/js/sidenav.js"></script>

<!-- Libs -->
<script src="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="assets/vendor/libs/typeahead-js/typeahead.js"></script>

<!-- Custom -->
<script src="assets/js/main.js"></script>


</body>

</html>